/* ######################## */
/* Смена пароля */
/* ######################## */
.center {
    margin: 4% auto;
    width: 50%;
    height: 50%;
}

.btn-login {
    background-color: #2181c6;
    color: #FFF;
    width: 100%;
    text-transform: uppercase;
}
.btn-login:hover {
    color: #FFF;
}

input[type=password] {
    border-color: #1bbc9b;
    text-align: center;
    margin-top: 15px;
}

.row {
    margin-bottom: 15px;
}

input[type=password]:focus {
    -moz-box-shadow: 0 0 5px #2181c6;
    -webkit-box-shadow: 0 0 5px #2181c6;
    box-shadow: 0 0 5px #2181c6;
    border-color: #2181c6;
}

