.m_5 {
    margin: 1%;
}

.menu_btn {
    width: 100%;
    margin: 5px;
    padding: 10px;
}

* {box-sizing: border-box;}
#form-search-panel {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: rgba(35, 170, 255, 0.36);
    border-bottom: 4px solid #0e4164;
}
#input-search-panel, #button-search-panel {
    border: none;
    outline: none;
    background: transparent;
}
#input-search-panel {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
#button-search-panel {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#button-search-panel:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 20px;
    color: #0e4164;
}

.container .panel_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.panel_ul .panel_li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #1d1d1d;
}

.panel_ul .panel_li a{
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 1.35em;
    color: #5c5c5c;
    padding: 25px 25px 25px 25px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.panel_ul .panel_li:hover a{
    color: #343434;
}
