.grid {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
}

.column-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        @media (min-width: 300px) {
            .column-md-2 {
            grid-column-start: span 2;
            grid-column-end: span 2;
            }

            .column-md-9 {
                grid-column-start: span 9;
                grid-column-end: span 9;
            }

            .column-md-10 {
                grid-column-start: span 10;
                grid-column-end: span 10;
            }
    }

}

.img-main-artist {
    flex-direction: column;
    -webkit-filter: blur(0px);
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.intro {
    animation: fadeInLeft 0.8s 0.4s ease forwards;
    position: relative;
    z-index: 2;
    opacity: 0;
}

.intro .title {
    font-size: 4.25rem;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    background: #fff;
    display: inline-block;
    font-weight: 100;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    color: #232323;
}


@keyframes fadeInLeft {
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width: 767px) {
    .img-main-artist {
        height: 70vh;
    }

    .intro .title {
        font-weight: 600;
        font-size: 2.25rem;
        padding: 2.5rem 2.5rem 3rem 2.5rem;
    }
}

.p-column {
    column-count:2;
    -moz-column-count:20;
    -webkit-column-count:2;
}

.container-about-the-artist {
    margin-top: 5vw;
    border: 100px;
    padding-left: 10%;
    padding-right: 10%;

}

.artist-title {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
}

.about-the-artist {
    font-family: "Montserrat", sans-serif;
    line-height: 2.9vmax;
    font-weight: bolder;
    font-size: 2.5vmin;
    margin: 3vw 10% 5vw;
    text-align: justify;
    text-indent: 30px;
}

.container-biography {
    background: url("/static/img/intro_biography.jpg");
    background-size: contain;
    margin-top: 8vw;
    padding-left: 15vw;
    padding-right: 15vw;
    bottom: 8vw;
}

.artist-biography {
    margin-top: 3vw;
    color: #2b2b2b;
    font-family: "Montserrat", sans-serif;
    line-height: 3.1vmax;
    font-weight: bolder;
    font-size: 2.5vmin;
    text-align: justify;
    text-indent: 50px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense;
    grid-gap: 23px;
    justify-content: center;
    margin-bottom: 10vw;
    margin-top: 10vw;
}

.card-top, .card-right, .card-bottom, .card-left {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border-radius: 95.2380952381px;
    box-shadow: 0px 3px 9px 1px rgba(0, 10, 20, 0.2);
}

.card-top {
    flex-direction: column;
    grid-column: auto / span 1;
    grid-row: auto / span 2;
}

.card-right {
    flex-direction: row-reverse;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}

.card-bottom {
    flex-direction: column-reverse;
    grid-column: auto / span 1;
    grid-row: auto / span 2;
}

.card-left {
    flex-direction: row;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}

.card-image {
    display: flex;
}

.card-top .card-image, .card-bottom .card-image {
    height: 50%;
    width: 100%;
}

.card-left .card-image, .card-right .card-image {
    height: 100%;
    width: 50%;
}

.card-image img {
    width: 100%;
    object-fit: cover;
}

.card-top img {
    border-radius: 95.2380952381px 95.2380952381px 0 0;
}

.card-right img {
    border-radius: 0 95.2380952381px 95.2380952381px 0;
}

.card-bottom img {
    border-radius: 0 0 95.2380952381px 95.2380952381px;
}

.card-left img {
    border-radius: 95.2380952381px 0 0 95.2380952381px;
}

.card-text {
    align-self: center;
    padding: 30px;
}

.card-top .card-text {
    height: auto;
    width: auto;
    padding-bottom: 50px;
}

.card-right .card-text {
    height: auto;
    width: 50%;
    padding-left: 50px;
}

.card-bottom .card-text {
    height: auto;
    width: auto;
    padding-top: 50px;
}

.card-left .card-text {
    height: auto;
    width: 50%;
    padding-right: 50px;
}

.card-text p {
    margin: 0;
    line-height: 1.35em;
    font-weight: bold;
    font-size: 67%;
    color: #334455;
}

#square {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: 30px;
    background: #145C8C;
}

@media (max-width: 767px) {
    .artist_name-title {
        font-size: 8vw;
    }

    .container-video {
        grid-template-columns: repeat(2, minmax(200px, 200px));
    }

}
@media (max-width: 500px) {
    .card-top {
        flex-direction: row;
        grid-column: auto / span 2;
        grid-row: auto / span 1;
    }

    .card-bottom {
        flex-direction: row-reverse;
        grid-column: auto / span 2;
        grid-row: auto / span 1;
    }

    .card-top .card-image, .card-bottom .card-image {
        height: 100%;
        width: 50%;
    }

    .card-top img {
        border-radius: 95.2380952381px 0 0 95.2380952381px;
    }

    .card-bottom img {
        border-radius: 0 95.2380952381px 95.2380952381px 0;
    }

    .card-top .card-text {
        height: auto;
        width: 50%;
        padding-right: 30px;
    }

    .card-bottom .card-text {
        height: auto;
        width: 50%;
        padding-left: 30px;
    }
}
@media (max-width: 400px) {
    .card-image {
        width: 38% !important;
    }

    .card-text {
        width: 62% !important;
    }
}

.container-video {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense;
    grid-gap: 23px;
    justify-content: center;
    margin-bottom: 10vw;
    margin-top: 5vw;
    background-size: contain;
    padding-left: 15vw;
    padding-right: 15vw;
    bottom: 8vw;
}

.card-video {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 3px 9px 1px rgba(0, 10, 20, 0.2);
    flex-direction: row;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}