.autor_name-title {
    background-color: #FFFFFF;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.p-column {
    column-count:2;
    -moz-column-count:20;
    -webkit-column-count:2;
}

.autor_name-title {
    background-color: #FFFFFF;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.container-about-the-artist {
    margin-top: 5vw;
    border: 100px;
    padding-left: 10%;
    padding-right: 10%;

}

.autor-title {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
}

.about-the-autor {
    font-family: "Montserrat", sans-serif;
    line-height: 2.9vmax;
    font-weight: bolder;
    font-size: 2.5vmin;
    margin: 3vw 10% 5vw;
    text-align: justify;
    text-indent: 30px;
}

.quote {
    margin-left: 10vw;
    height: 25vmin;
    width: 80vw;
    background: url("/static/img/block.jpg") center;
    margin-top: 5vw;
}

.container-biography {
    background: url("/static/img/intro_biography.jpg");
    background-size: contain;
    margin-top: 8vw;
    padding-left: 15vw;
    padding-right: 15vw;
    bottom: 8vw;
}


.artist-biography {
    margin-top: 3vw;
    color: #2b2b2b;
    font-family: "Montserrat", sans-serif;
    line-height: 3.1vmax;
    font-weight: bolder;
    font-size: 2.5vmin;
    text-align: justify;
    text-indent: 50px;
}