/* ################# */
/* Тело авторизации */
/* ################# */

.login {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 40%;
    padding: 2%;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
}