.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 87vh;
    background: url("/static/img/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#square_big_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 190px;
    background: #FFFFFF;
}

.intro__title {
    font-family: "News706 BT", serif;
    display: block;
    line-height: 180px;
    text-align: center;
    font-weight: bolder;
    font-size: 55px;
    color: #000000;
}

#square {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: 30px;
    background: #145C8C;
}

.about-the-site-main{
    font-family: "News706 BT", serif;
    text-align: center;
    font-weight: 700;
    font-size: 4.2rem;
    color: #141814;
    line-height: 80px;
}

.about-the-site-main-p {
    margin-top: 3vw;
    font-family: "Montserrat", sans-serif;
    line-height: 3.1vmax;
    font-weight: 500;
    font-size: 2.5vmin;
    padding-top: 10px;
    text-align: center;
    color: #2d2d2d;
}

.article-random {
    margin-top: 40px;
    width: 100vw;
    background-color: rgba(255, 145, 16, 0.54);
}

.article-past {
    margin-top: 40px;
    width: 100vw;
    background-color: rgba(24, 160, 251, 0.53);
}

#text-article-random {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2.5vmin;
    width: 80%;
    margin: 5% 3% 5% 10%;
    text-align: left;
    color: #191d19;
}

#title-random {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 12%;
    margin-left: 3%;
    text-align: left;
    color: #191d19;
}

#a-random div{
    margin: 10% 7% 7% 7%;
    border-radius: 59px;
    background: #000;  /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
    overflow: hidden;  /* Ограничиваем видиую область */
}
#a-random div img{
    width: 100%;
    border-radius: 59px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */

    display: block; /* Убираем полосу под картинкий */
}
#a-random:hover div img{
    opacity: 0.8; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05); /* Увеличение картинки */
}

#text-article-past {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2.5vmin;
    width: 80%;
    margin: 5% 3% 5% 10%;
    text-align: left;
    color: #191d19;
}

#title-past {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 10%;
    text-align: left;
    color: #191d19;
}

#a-past div{
    margin: 10% 10% 7% 0;
    border-radius: 59px;
    background: #000;  /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
    overflow: hidden;  /* Ограничиваем видиую область */
}
#a-past div img{
    width: 100%;
    border-radius: 59px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */

    display: block; /* Убираем полосу под картинкий */
}
#a-past:hover div img{
    opacity: 0.8; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05); /* Увеличение картинки */
}

.a-article {
    float: right;
    color: #145C8C;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1vw;
    margin-right: 15%;
    margin-top: -2%;
}

.a-none-decor {
    text-decoration: none !important;
}

@media screen and (max-width: 767px) {
    #text-article-random {
        font-size: 2vw;
    }
    .about-the-site-main-p {
        line-height: 20px;
        font-size: 2.5vw
    }
    #text-article-past {
        font-size: 2vw;

    }
    #title-random {
        font-size: 3vw;
    }
    #title-past {
        font-size: 3vw;
    }
}

.search {
    width: 450px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 0 65px 25px 60px;
    position: absolute;
    z-index: 1;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: #000000;
    font-size: 28px;
    letter-spacing: .3px;
    -webkit-transform-origin: 10%;
    transform-origin: 10%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    font-family: 'PT Sans', sans-serif;
}

.search-button {
    position: absolute;
    right: 60px;
    bottom: 33px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #000000;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-tap-highlight-color: transparent;
}
.search-button::-moz-focus-inner {
    border: 0;
}

.search-label {
    position: absolute;
    top: 0;
    left: 60px;
    width: 325px;
    height: 77px;
    line-height: 95px;
    color: #000000;
    font-size: 28px;
    letter-spacing: .3px;
    pointer-events: none;
    overflow: hidden;
}
.search-label div {
    white-space: pre;
}
.search-border {
    width: 23px;
    height: 3px;
    position: absolute;
    right: 47px;
    bottom: 32px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #000000;
    cursor: pointer;
}
.search-text {
    opacity: 0;
    pointer-events: none;
}
.search:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    left: 40px;
    top: 40px;
    background-color: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.search.edge:before {
    opacity: 1;
}
.search-close {
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 5;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.search-close.visible {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

input::-ms-clear {
    display: none;
}

#search-section {
    margin-top: 10%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.go-page {
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .9vh 1.5vw;
    font-size: 1.7vw;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
#go-page-1 {
    text-decoration: none !important;
    background-color: #1d7ebd;
    color: white;
}
#go-page-2 {
    text-decoration: none !important;
    background-color: #ffa24c;
    color: white;
}
#go-page-1:hover {
    text-decoration: none !important;
    background-color: #18679c;
    color: white;
}

#go-page-2:hover {
    text-decoration: none !important;
    background-color: #ff9e2e;
    color: white;
}
