{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}


{% block content %}
    <!-- ##################################### -->
    <!-- Заставка страницы о нас -->
    <!-- ##################################### -->

    <div class="grid vertical">
        <div class="column-xs-12 column-md-2">
            <div class="intro">
                <a>
                    <h1 class="title"><span>Привет, Мир!
                    Это мы!</span></h1>
                </a>
            </div>
        </div>
        <div class="column-xs-12 column-md-10">
            <div class="img-main-artist"
                 style="background-image: url('/static/img/изображение_viber_2020-06-04_17-59-26.jpg')"></div>
        </div>
    </div>
    <div id="square"></div>

    <!-- ############# -->
    <!-- Предисловие -->
    <!-- ############# -->
    <section id="section-preface">
        <div class="about-title">Предисловие</div>
        <p id="text-preface">
            Выбор темы для диплома стал непростой задачей для нас обеих. На одном из уроков истории искусств наш
            преподаватель Евгения Викторовна Киселева интересовалась темами наших дипломных работ. Я и Маша еще
            не были до конца уверены в выбранных ранее темах, поэтому она предложила нам скооперироваться для
            изучения интересной и актуальной темы – современного искусства. Нам и нашему классному педагогу Ирине
            Валентиновне понравилось это предложение. Оказалось, что Маша занимается программированием, а я неплохо
            пишу различные тексты. Так родилась идея создания сайта с небольшими статьями по теме нашей дипломной
            работы. Действительно, сейчас все более часто можно услышать вопрос: «Является ли это вообще искусством?»
            На самом деле, мало источников, которые просто, доступно и интересно могут рассказать обо всем многообразии
            жанров современного искусства.</p>
        <p id="text-preface">Так, появилась тема нашей дипломной работы: «Современное искусство»,
            целью которой стало просто и понятно объяснить перфомансы, акции и другие
            работы современных художников для даже далеких от искусства людей.
        </p>
    </section>

    <!-- ############################## -->
    <!-- Пара слов о создателях -->
    <!-- ############################## -->

    <section style="background-image: url('/static/img/Substance0059_2_download600.jpg'); position: relative;">

        <div class="block-about">
            <div>
                <img class="about-us-img" src="/static/img/YKXgDehPCS4.jpg">
            </div>
            <div>
                <div class="p-fio">Макарова Ирина Валентинована</div>
                <a href="mailto:miv-art64@yandex.ru" class="a-none-decor" style="font-size: 2rem;
                                                          color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-envelope-o"></i></a>
                <p class="about-us-p">замечательный художник, преподаватель в ДХШ им. Митинского (г. Тюмень)
                    и просто хороший человек. Курировала этот проект.</p>
            </div>
        </div>

        <div class="block-about">
            <div>
                <img class="about-us-img" src="/static/img/ky2oxZUAjNA.jpg">
            </div>
            <div>
                <div class="p-fio">Киселёва Евгения Викторовна</div>
                <a href="https://www.instagram.com/kiseliova_art/" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-instagram"></i></a>
                <a href="mailto:kiselewa.jenya2018@yandex.ru" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-envelope-o"></i></a>
                <p class="about-us-p">великолепный дизайнер интерьера, художник, преподаватель в ДХШ им. Митинского (г. Тюмень) и
                    человек, подавший нам идею создать сайт о современном искусстве. Она увидит творческий
                    потенциал в ком угодно и обязательно найдет картину, где Вас уже запечатлел
                    какой-нибудь живописец.</p>
            </div>
        </div>

        <div class="block-about">
            <div>
                <img class="about-us-img" src="/static/img/iqpJig7VO08.jpg">
            </div>
            <div>
                <div class="p-fio">Змановская Полина</div>
                <a href="https://vk.com/id451307884" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-vk"></i></a>
                <a href="https://www.instagram.com/art.with.pauline/" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-instagram"></i></a>
                <p class="about-us-p">автор статей этого сайта и выпустившаяся ученица в ДХШ им. Митинского
                    (г. Тюмень), старавшаяся сделать их познавательными и лаконичными.</p>
            </div>
        </div>

        <div class="block-about">
            <div>
                <img class="about-us-img" src="/static/img/j3tOJg5kyG4.jpg">
            </div>
            <div>
                <div class="p-fio">Тут могло бы быть мое имя</div>
                <a href="https://vk.com/mariyazz" class="a-none-decor" style="font-size: 2rem;
                                                                color: #1d1d1d;
                                                                padding-left: 10px;
                                                                padding-right: 10px"><i class="fa fa-vk"></i></a>
                <a href="https://www.instagram.com/__z.maria__/" class="a-none-decor" style="font-size: 2rem;
                                                                color: #1d1d1d;
                                                                padding-left: 10px;
                                                                padding-right: 10px"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/MariaZyryanova72" class="a-none-decor" style="font-size: 2rem;
                                                                color: #1d1d1d;
                                                                padding-left: 10px;
                                                                padding-right: 10px"><i class="fa fa-github"></i></a>
                <p class="about-us-p">прекрасный программист и выпустившаяся ученица в ДХШ им. Митинского (г. Тюмень).
                    Создатель и оформитель этого сайта, одинаково хорошо управляющийся и с кодами, и с кисточками.
                    Сделала оформление и содержание сайта удобным и интересным.</p>
                </div>
        </div>
    </section>

{% endblock %}
