{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}


{% block content %}
    <!-- ##################################### -->
    <!-- Заставка страницы о нас -->
    <!-- ##################################### -->

    <div class="grid vertical">
        <div class="column-xs-12 column-md-2">
            <div class="intro">
                <a>
                    <h1 class="title"><span>Привет, Мир!
                    Это мы!</span></h1>
                </a>
            </div>
        </div>
        <div class="column-xs-12 column-md-10">
            <div class="img-main-artist"
                 style="background-image: url('/static/img/изображение_viber_2020-06-04_17-59-26.jpg')"></div>
        </div>
    </div>
    <div id="square"></div>

    <!-- ############# -->
    <!-- Предисловие -->
    <!-- ############# -->
    <section id="section-preface">

    </section>

    <!-- ############################## -->
    <!-- Пара слов о цели и задачи сайта -->
    <!-- ############################## -->

    <div class="row" style="margin: 10% 5%;">
        <div class="col-3 col-md about-us">

            <img class="about-us-img" src="/static/img/YKXgDehPCS4.jpg">

            <p class="p-fio">Макарова Ирина Валентинована</p>
            <p class="about-us-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                amet,
            </p>

            <a href="mailto:miv-art64@yandex.ru" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-envelope-o"></i></a>

        </div>

        <div class="col-3 col-md about-us">

            <img class="about-us-img" src="/static/img/j3tOJg5kyG4.jpg">

            <p class="p-fio">Зырянова Мария</p>
            <p class="about-us-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                amet,
            </p>

            <a href="https://vk.com/mariyazz" class="a-none-decor" style="font-size: 2rem;
                                                            color: #1d1d1d;
                                                            padding-left: 10px;
                                                            padding-right: 10px"><i class="fa fa-vk"></i></a>
            <a href="https://www.instagram.com/__z.maria__/" class="a-none-decor" style="font-size: 2rem;
                                                            color: #1d1d1d;
                                                            padding-left: 10px;
                                                            padding-right: 10px"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/MariaZyryanova72" class="a-none-decor" style="font-size: 2rem;
                                                            color: #1d1d1d;
                                                            padding-left: 10px;
                                                            padding-right: 10px"><i class="fa fa-github"></i></a>

        </div>

        <div class="col-3 col-md about-us">

            <img class="about-us-img" src="/static/img/ky2oxZUAjNA.jpg">

            <p class="p-fio">Киселёва Евгения Викторовна</p>
            <p class="about-us-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                amet,
            </p>

            <a href="https://www.instagram.com/kiseliova_art/" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-instagram"></i></a>
            <a href="mailto:kiselewa.jenya2018@yandex.ru" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-envelope-o"></i></a>

        </div>

        <div class="col-3 col-md about-us">

            <img class="about-us-img" src="/static/img/iqpJig7VO08.jpg">

            <p class="p-fio">Змановская Полина</p>
            <p class="about-us-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                amet,
            </p>

            <a href="https://vk.com/id451307884" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-vk"></i></a>
            <a href="https://www.instagram.com/art.with.pauline/" class="a-none-decor" style="font-size: 2rem;
                                                        color: #1d1d1d;
                                                        padding-left: 10px;
                                                        padding-right: 10px"><i class="fa fa-instagram"></i></a>

        </div>

    </div>

{% endblock %}
