{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/admin_panel.css">
    <script src="/static/js/admin_panel.js"></script>
{% endblock %}


{% block content %}

    <!-- ################# -->
    <!-- Полоса навигации -->
    <!-- ################# -->
    <div class="btn-group btn-group-toggle menu_btn" data-toggle="buttons">
        <!-- Отдел пользователей -->
        <label id="users" class="btn btn-secondary">
            <input type="radio" name="options" autocomplete="off"> Пользователи
        </label>
        <!-- Отдел авторов (художников) -->
        <label id="autors" class="btn btn-secondary">
            <input type="radio" name="options" autocomplete="off"> Авторы
        </label>
        <!-- Отдел статей -->
        <label id="articles" class="btn btn-secondary">
        <input type="radio" name="options" autocomplete="off"> Статьи
    </label>
    </div>

    <!-- ################### -->
    <!-- Поиск по отделу -->
    <!-- ################### -->
    <form id="form-search-panel">
        <input  id="input-search-panel" type="text" name="q" placeholder="Искать здесь...">
        <button  id="button-search-panel" type="submit"></button>
    </form>

    <!-- ################### -->
    <!-- Содержание отделов -->
    <!-- ################### -->

    <!-- Отдел пользователей -->
    <div id="div_users" class="m_5" style="display: none">
        {% for user in users %}
            <a href="/admin/user/{{ user.id }}">{{ user.login }} {{ user.name }} {{ user.email }}</a><br>
        {% endfor %}
    </div>
    <!-- Отдел авторов (художников) -->
    <div id="div_autors" class="m_5" style="display: none">
        {% for autor in autors %}
            <a href="/admin/autor/{{ author.id }}">{{ author.name }}</a><br>
        {% endfor %}
    </div>
    <!-- Отдел статей -->
    <div id="div_articles" class="m_5"  style="display: none">
        {% for article in articles %}
            <a href="/admin/article/{{ article.id }}">{{ article.title }}</a><br>
        {% endfor %}
    </div>

{% endblock %}

