{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/admin_panel.css">
    <script src="/static/js/admin_panel.js"></script>
{% endblock %}


{% block content %}

    <!-- ################# -->
    <!-- Полоса навигации -->
    <!-- ################# -->
    <div class="btn-group btn-group-toggle menu_btn" data-toggle="buttons">
        <!-- Отдел пользователей -->
        <label id="users" class="btn btn-secondary">
            <input type="radio" name="options" autocomplete="off"> Пользователи
        </label>
        <!-- Отдел авторов (художников) -->
        <label id="autors" class="btn btn-secondary">
            <input type="radio" name="options" autocomplete="off"> Авторы
        </label>
        <!-- Отдел статей -->
        <label id="articles" class="btn btn-secondary">
        <input type="radio" name="options" autocomplete="off"> Статьи
    </label>
    </div>

    <!-- ################### -->
    <!-- Поиск по отделу -->
    <!-- ################### -->
    <form id="form-search-panel">
        <input  id="input-search-panel" type="text" name="q" placeholder="Искать здесь...">
        <button  id="button-search-panel" type="submit"></button>
    </form>

    <!-- ################### -->
    <!-- Содержание отделов -->
    <!-- ################### -->

    <!-- Отдел пользователей -->
    <section style="display: -webkit-box; -webkit-box-pack: center">
        <div id="div_users" class="m_5" style="display: none">
            <ul class="panel_ul">
                {% for user in users %}
                    <li class="panel_li">
                        <a class="panel_a" href="/admin/user/{{ user.id }}" style="text-decoration: none">
                            {{ user.login }}---{{ user.name }}---{{ user.email }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <!-- Отдел авторов (художников) -->
    <section style="display: -webkit-box; -webkit-box-pack: center">
        <div id="div_autors" class="m_5" style="display: none">
            <ul class="panel_ul">
                {% for author in authors %}
                    <li class="panel_li">
                        <a class="panel_a" href="/admin/artist/{{ author.id }}" style="text-decoration: none !important;">
                            {{ author.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <!-- Отдел статей -->
    <section style="display: -webkit-box; -webkit-box-pack: center">
        <div id="div_articles" class="m_5"  style="display: none">
            <a href="/admin/article/new" style="width: 320px; background: rgb(122,67,214); color: azure; margin-top: 20px" class="nav-link btn">Создать статью</a>
            <ul class="panel_ul">
                {% for article in articles %}
                    <li class="panel_li">
                        <a class="panel_a" href="/admin/article/{{ article.id }}" style="text-decoration: none !important;">
                            {{ article.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>>

{% endblock %}

