{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/KmvReR.css">
    <script src="/static/js/article.js"></script>
{% endblock %}

{% block content %}

    <!-- ########################### -->
    <!-- Заставка и название статьи  -->
    <!-- ########################### -->

    <div class="grid vertical">
        <div class="column-xs-12 column-md-2">
            <div class="intro">
                <a>
                    <h1 class="title"><span>{{ article.title }}</span></h1>
                </a>
            </div>
        </div>
        <div class="column-xs-12 column-md-10">
            <div class="img-main-article" style="background-image: url({{ article.main_image }})">
            </div>
        </div>

        <!-- Навигация по странице -->
        <div class="nav">
            <a href="#" class="nav__trigger">
                <div class="bars"></div>
            </a>

            <div class="nav__content">
                <nav class="nav__list">
                    <ul>
                        <li class="nav__item"><a href="#">Home</a></li>
                        <li class="nav__item"><a href="#">About</a></li>
                        <li class="nav__item"><a href="#">Team</a></li>
                        <li class="nav__item"><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="square"></div>

    <!-- ############################################# -->
    <!-- Коротко о главном (Краткое превью о статье) -->
    <!-- ############################################# -->

    <section class="container-about-the-article">
        <div class="article-title">Коротко о главном</div>
        <p class="about-the-article"> {{ article.preview }} </p>
    </section>

    <!-- ############################### -->
    <!-- Небольшая вставка для гармонии -->
    <!-- ############################### -->

    <section class="quote">
    </section>

    <!-- ############# -->
    <!-- Текст статьи -->
    <!-- ############# -->

    <section class="container-biography">
        <div class="article-title">Самое главное!</div>
        {% set list_text = article.text.split('\n') %}

            <img src="{{ article.image_1 }}" vspace="5" hspace="5" style="width: 50%;
                                         height: auto;
                                         float: left;
                                         padding-right: 5%;
                                         padding-bottom: 2%;
                                         margin-top: 3vw;" >
            {% for text in list_text %}
                <p class="article-biography">{{ text }}</p>
            {% endfor %}
    </section>

    {% set articles_img = [article.image_1, article.image_2] %}



{% endblock %}