{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/TweenMax.min.js"></script>
    <script src="/static/js/EasePack.min.js"></script>
    <script src="/static/js/sitehere-animation.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
    <div class="intro">
        <div id="square_big_logo">
            <div class="intro__title">ART .</div>
        </div>
    </div>
    <div id="square"></div>

    <div class="row" style="margin: 10% 5%;">
       <div class="col-3 col-md about-the-site-main">
           A
           <p class="about-the-site-main-p">
               Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
           </p>
       </div>
        <div class="col-3 col-md about-the-site-main">
            R
            <p class="about-the-site-main-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            </p>
        </div>
        <div class="col-3 col-md about-the-site-main">
            T
            <p class="about-the-site-main-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            </p>
        </div>
        <div class="col-3 col-md about-the-site-main">
            .
            <p class="about-the-site-main-p">
                Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            </p>
        </div>
    </div>

    {% if article_random %}
        <section class="article-random" style="display: grid; grid-template-columns: 1fr 1fr;">
            <a href="/article/{{ article_random.id }}" id="a-random">
                <div>
                    <img src="{{ article_random.main_image }}">
                </div>
            </a>
           <div>
               <a href="#" class="a-none-decor">
                   <h5 id="title-random">Вам должно понравится!</h5>
                   <p id="text-article-random">{{ article_random.preview }}</p>
                   <a href="/article/{{ article_random.id }}" style="margin-left: 3%" id="go-page-1" class="go-page">Перейти</a></a>
            </div>
        </section>
    {% endif %}

    {% if article_past %}
        <section class="article-past" style="display: grid; grid-template-columns: 1fr 1fr;">
            <div>
                <a href="#" class="a-none-decor">
                    <h5 id="title-past">Последний выпуск</h5>
                    <p id="text-article-past">{{ article_past.preview }}</p>
                    <a href="/article/{{ article_past.id }}" style="margin-left: 10%" id="go-page-2" class="go-page">Перейти</a></a>
            </div>
            <a href="/article/{{ article_past.id }}" id="a-past">
                <div>
                    <img src="{{ article_past.main_image }}">
                </div>
            </a>

        </section>
    {% endif %}

    <section id="search-section">
        <form class="search">
            <input class="search-input" id="input" type="text" autocomplete="off" name="q"/>
            <label class="search-label" for="input"></label>
            <button class="search-button" type="reset"></button>
            <div class="search-border"></div>
            <div class="search-close">x</div>
        </form>
    </section>

{% endblock %}

