{% extends "base.html" %}

{% block content %}
    <div class="intro">
        <div id="square_big_logo">
            <div class="intro__title">ART .</div>
        </div>
    </div>
    <div id="square"></div>


    <div class="about-the-site-main">
        <table align="center" border="0" width="100%" border-spacing="40px 40px">
            <tr>
                <td width="25%" valign="top">
                    <h4>A</h4>
                    <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolor7em ipsum quia dolor sit amet,</p>
                </td>
                <td width="25%" valign="top">
                    <h4>R</h4>
                    <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
                </td>
                <td width="25%" valign="top">
                    <h4>T</h4>
                    <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
                </td>
                <td width="25%" valign="top">
                    <h4> .</h4>
                    <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                        qui dolorem ipsum quia dolor sit amet,</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="top-article_week">
        <img class="img-article_week" src="" align="left" width="480" alt="фото статьи">
        <p class="p-article_week" align="right"></p>
    </div>

    <div class="top-article_week">
        <img class="img-article_week" src="" align="left" width="480" alt="фото статьи">
        <p class="p-article_week" align="right"></p>
    </div>


{% endblock %}

