{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/search-article.css">
{% endblock %}

{% block content %}
    <div id="intro-search-article"></div>
    <div id="square"></div>

    {% if articles %}
        {% for article in articles %}
            <section style="background-image: url('/static/img/intro_biography.jpg'); position: relative;" id="block-article-in-search">
                <a href="/article/{{ article.id }}" id="a-article">
                    <div>
                        <img src="{{ article.main_image }}">
                    </div>
                </a>
                <div style="margin-left: 3vw">
                    <h5 id="name-article-search">{{ article.title }}</h5>
                    <p id="text-article-search">{{ article.preview }}</p>
                    <a href="/article/{{ article.id }}" id="go-page">Перейти</a>
                </div>
            </section>
        {% endfor %}
    {% endif %}

{% endblock %}