{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style_search-article.css">
    <script src="/static/js/main/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div id="intro-search-article"></div>
    <div id="square"></div>

    {% if articles %}
        {% for article in articles %}
            <section style="background-image: url('/static/img/intro_biography.jpg'); position: relative;" id="block-article-in-search">
                <a href="" id="a-article">
                    <div>
                        <img src="{{ article.main_image }}">
                    </div>
                </a>
                <div style="margin-left: 3vw">
                    <h5 id="name-article-search">{{ article.title }}</h5>
                    <p id="text-article-search">{{ article.preview }}</p>
                    <a href="/" id="go-page">Перейти</a>
                </div>
            </section>
        {% endfor %}
    {% endif %}

{% endblock %}