{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style_search-artist.css">
    <script src="/static/js/main/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div id="intro-search-artist"></div>
    <div id="square"></div>

    <section style="margin-top: 5%" id="search-section">
        <form class="search">
            <input class="search-input" id="input" type="text" autocomplete="off" name="q"/>
            <label class="search-label" for="input"></label>
            <button class="search-button" type="reset"></button>
            <div class="search-border"></div>
            <div class="search-close">x</div>
        </form>
    </section>
    {% if artists %}
        {% for artist in artists %}
            <section style="background-image: url('{{ artist.main_image }}')" id="block-artist-in-search">

            </section>
        {% endfor %}
    {% endif %}

{% endblock %}